services:
  syncthing:
    image: lscr.io/linuxserver/syncthing:latest
    container_name: syncthing
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Jakarta
      - SYNCTHING_GUI_ADDRESS=127.0.0.1:8384
    volumes:
      - syncthing_config:/config
      - /srv/docker/syncthing/obsidian:/obsidian
    # ports:
    #   - 8384:8384
    #   - 22000:22000/tcp
    #   - 22000:22000/udp
    #   - 21027:21027/udp
    network_mode: service:tailscale-syncthing
    restart: unless-stopped
    depends_on:
      - tailscale-syncthing

  tailscale-syncthing:
    image: tailscale/tailscale:latest
    container_name: ts-syncthing
    hostname: syncthing
    restart: unless-stopped
    # ports: (remove ports? since access is via tailnet)
    #   - "8085:80" # syncthing app HTTP
    #   - "3012:3012" # syncthing websocket notifications
    cap_add:
      - net_admin
      - net_raw
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - /srv/docker/tailscale-syncthing/config:/config
      - /srv/docker/tailscale-syncthing/state:/var/lib/tailscale
    environment:
      - TS_AUTHKEY=${TS_SYNCTHING_AUTHKEY}
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_SERVE_CONFIG=/config/serve.json
      - TS_USERSPACE=false

# https://github.com/gitwatch/gitwatch
gitwatch:
  image: ghcr.io/gitwatch/gitwatch:latest
  environment:
    - GIT_WATCH_DIR=/repo
    - GIT_DIR=/repo/.git
    - GIT_REMOTE=origin
    - GIT_BRANCH=master
  volumes:
    - /srv/docker/syncthing/obsidian:/repo
    - /home/victor/.ssh/id_ed25519:/root/.ssh/id_ed25519:ro # Read-only SSH key
    - /home/victor/.gitconfig:/root/.gitconfig:ro
  restart: unless-stopped
  depends_on:
    - syncthing

volumes:
  syncthing_config:
